*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none ;
}

.car{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.hello{
    width: 50%;
    box-shadow: 0 8px 24px rgba(29, 139, 242, 0.459);
}